.table1
{
    display: table;
    width: 50%;
    height:40%;
    background-color:blue;
    text-align: center;
    font-family:"Comic Sana MS";
    padding:5px;
    font-size: 30px;
    color: grey;
}
.table2
{
    display: table;
    height: 20%;
    width:50%;
    border: 1px dotted black;
    background-color:green;
}
.row1
{
    display:table-row;
}
.col
{
    display: table-cell;
    text-align: center;
    color:white;
    width:14%;
}
.table3
{
    display:table;
    width:50%;
}
.row2
{
    display:table-row;
    background-color:#8eafe5;
    height:10%;
}
.col2
{
    display: table-cell;
    width:14%;
    text-align:center;
    color:white;
}
