.table1
{
    display: table;
    width: 100%;
    border: 1px dotted black;
}
.table1-row1
{
    display: table-row;
    height: 20%;
    border: 1px dotted black;
}
.Table1-col1
{
    display: table-cell;
    border:1 px dotted black;
    line-height: 30px;
    text-align: center;
}
.Table-col2
{
    display: table-cell;
    width:30%;
}