body {
    
    background-color: lightgrey;
    
}


.img-medium {
    float: left;
    height:200px;
    width:20%;
}
.mine
{
    height:200px;
    width:80%;
    background-color:#4aa02c;
    float: right;
}
#cul
{
    height: 100px;
    width: 50px;
    display:inline-block;
}
.head
{
    height:70px;
    width:100%;
    
    background-color: #8e35ef;
    font-size: 60px;
    color: #c11b17;
    
}
li
{
    font-family: Comic Sana MS;
    color:#4ee2ec;
    font-size:20px;
}
#ass
{
    color: #800517;
    font-family: Comic Sana MS;
    font-size: 40px;
}
.headers
{
    font-family: cursive;
    margin: auto;
    padding-top:60px;
    color: grey;
    padding-left: 20px;
    padding-right: 20px;
}
span
{
    color: red;
    font-family: sans-serif;
}
